.callback-button {

  @media (max-width: $tablet) {
    display: none;
  }

  &--mobile {
    display: none;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    border-radius: 50%;
    border: 1px solid rgb(215, 215, 215);
    background-color: $white;

    transition: .3s;

    @media (max-width: $tablet) {
      display: flex;
    }

    @media (max-width: $mobile) {
      width: 41px;
      height: 41px;

      border-color: $blue;
    }

    svg {
      transition: .3s;
    }

    &:hover {
      background-color: $blue;

      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}

.pick-button {
  display: inline-flex;
  padding: 14px 20px;

  font-family: $nova-semi-bold;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: .86px;
  color: $white;

  border: 1px solid $blue;
  border-radius: 100px;
  background: $blue;

  @media (min-width: $desktop) {
    padding: 18px 24px;
  }

  @media (max-width: $laptop) {
    font-size: 12px;
  }

  @media (max-width: $tablet) {
    padding-left: 17px;
    padding-right: 17px;
  }

  &__content {
    display: flex;
    align-items: center;

    svg {
      width: 12px;
      margin-left: 10px;

      @media (min-width: $desktop) {
        width: 14px;
        margin-left: 12px;
      }
    }
  }

  &__text {

  }
}

.text-slide-button {
  &__content {
    position: relative;

    overflow: hidden;

    &:after {
      content: attr(data-hover);

      position: absolute;
      top: 0;
      left: 0;

      transform: translateY(200%);
      @include transition;
    }
  }

  &__text {
    @include transition;
  }

  &:hover {
    .text-slide-button__text {
      transform: translateY(-100%);
    }

    .text-slide-button__content {
      &:after {
        transform: translateY(0%);
      }
    }
  }
}