@font-face {
	font-family: FontAwesome5ProRegular;
	font-display: swap;
	src: url("../fonts/FontAwesome5ProRegular.woff2") format("woff2"), url("../fonts/FontAwesome5ProRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ProximaNova_SemiBold;
	font-display: swap;
	src: url("../fonts/ProximaNova_SemiBold.woff2") format("woff2"), url("../fonts/ProximaNova_SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: proximanova_regular;
	font-display: swap;
	src: url("../fonts/proximanova_regular.woff2") format("woff2"), url("../fonts/proximanova_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
