$black: rgb(17, 17, 17);
$blue: rgb(47, 128, 237);
$white: rgb(255, 255, 255);


$nova-regular: proximanova_regular;
$nova-semi-bold: ProximaNova_SemiBold;


$mobile: 767px;
$tablet: 1023px;
$laptop: 1280px;
$desktop: 1770px;