.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  height: -webkit-fill-available;
  padding-top: 100px;

  @media (min-width: $desktop) {
    padding-top: 131px;
  }

  @media (max-width: $laptop) {
    padding-top: 103px;
  }

  @media (max-width: $tablet) {
    padding-top: 123px;
  }

  @media (max-width: $mobile) {
    padding-top: 81px;
  }

  &__media {
    flex-grow: 1;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__data {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: $laptop) {
      padding-top: 30px;
    }

    @media (max-width: $tablet) {
      padding-top: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: $mobile) {
      padding-top: 20px;
    }
  }

  &__title {
    max-width: 349px;

    @media (min-width: $desktop) {
      max-width: 416px;

      font-size: 31px;
    }

    @media (max-width: $tablet) {
      font-size: 26px;
    }

    @media (max-width: $mobile) {
      max-width: 175px;

      font-size: 13px;
      line-height: 1.5;
    }
  }

  &__logo {
    max-width: 717px;
    width: 100%;

    @media (min-width: $desktop) {
      max-width: none;
      width: 49%;
    }

    @media (max-width: $laptop) {
      max-width: 553px;
    }

    @media (max-width: $tablet) {
      max-width: none;
      width: 100%;
      margin-top: 43px;
    }

    @media (max-width: $mobile) {
      margin-top: 20px;
    }

    svg {
      width: 100%;
    }
  }
}